services:
  db:
    image: postgres:16-alpine
    container_name: erp-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mysecretpassword
      POSTGRES_DB: erpgeneric
    ports:
      - "5433:5432" # CHANGED PORT TO 5433 TO AVOID CONFLICT
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
